
.container {
	/*position: fixed;*/
	/*margin-left: 80%;*/
	/*top: 3.85vw;*/
	/*margin-top: 3.85vw;*/
	/*right: 0;*/
	/*width: 18vw;*/
	/*height: 14.2vw;*/
	/*z-index: 101;*/
	/*transition: height 0.5s ease;*/
	/*display: none;*/
	/*transform: translateX(105%);
  transition: transform 0.3s ease;*/
	font-size: 1.2vw;
	font-weight: 500;
	background-color: white;
	border-top: 0.17vw solid #96aca8;
	/*width: 90%;
	max-width: 40vw;*/
	width: 100%;
	
}

.header {
	/*height: 15%;*/
	background-color: #c0ddd8;
	border-bottom: 0.17vw solid #96aca8;
	border-left: 0.17vw solid #96aca8;
	border-right: 0.17vw solid #96aca8;
	color: #ef6865;
	/*font-size: 1.2vw;*/
	font-weight: 600;
	display: grid;
	/*grid-template-columns: 1fr 1fr;*/
	grid-template-columns: 80% 20%;
	padding-left: 0.3vw;
	padding-right: 0.35vw;
	padding-top: 0.3vw;
	padding-bottom: 0.5vw;
	align-items: center;
}

.bigTitle {
	font-size: 2vw;
}

.headerText {
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
}

.pointerHeader {
	cursor: pointer;
}

.closeButton {
	justify-self: end;
}

.bigCloseButton {
	font-size: 1.8vw;
	padding-left: 0.7vw;
	padding-right: 0.7vw;
}

.content {
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	border-bottom: 0.17vw solid #96aca8;
	border-left: 0.17vw solid #96aca8;
	border-right: 0.17vw solid #96aca8;
}

.noBorder {
	border: none;
}

.centeredContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}



.hiddenContent {
	display: none;
}