.header {
	background-color: white;
	height: 15vw;
	/*background-image: url(/images/header.png);*/
	background-size: cover;
	/*border: 0.1vw pink solid;*/
	margin-top: 0vw;
	padding-top: 0.1vw;
}

.headerContentContainer {
	/*border: 0.1vw blue solid;*/
	height: 11.1vw;
	margin-top: 3.8vw;
	display: flex;
	justify-content: center;
}

.createPostButton {
	border: 0.1vw black solid;
	background-color: #ef6865;
	color: #ebd2ab;
	box-shadow: 0.15vw 0.15vw 0vw 0.0vw rgba(0, 0, 0, 1);
	padding-left: 0.3vw;
	padding-right: 0.3vw;
	padding-top: 0.3vw;
	padding-bottom: 0.3vw;
	font-weight: 900;
	font-size: 1.5vw;
	align-self: center;
}

.titleText {
	font-size: 1.5vw;
	font-weight: 800;
	align-self: center;
	margin-right: 1%;
}